::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #616161;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #212121;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #424242;
}

a {
  text-decoration: none;
}